<div class="navmenu">
    <div class="wrap2" style="width: 80%">
    <div class="navlink">
        <ul>
            <li><a href="#/home"><strong>Home</strong></a></li>
            <li><a href="#/Contact"><strong>Contact Me</strong></a></li>
            <li><a href="#/mywork"><strong>My Work</strong></a></li>
        </ul>
    </div>
    </div>
</div>
<div class="main">
    <a href="http://steamcommunity.com/id/MissVane"><div class="hbg"></div></a>

  <div class="container">
      <div class="mainbar">
      <div class="article">

         <h3 class="text-center">Welcome!</h3>
          <p class=text-center>This website is mainly to display the animations, maps, and drawings that i've done in the past.</p>
          <div class="steamprofile" style="line-height:14px; margin:0px auto;display:block"><div class="sp-badge sp-in-game"><div class="sp-avatar"><a target="_blank" href="http://steamcommunity.com/id/MissVane"><img src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/8a/8a18b6f79576e978e7a51f19936f5dbbf6ae99fc_full.jpg" width="32" height="32" alt=""></a></div><div class="sp-info sp-in-game"><a class="sp-name" target="_blank" href=" http://steamcommunity.com/id/MissVane">Mrs. Helvane ~ ❤</a><br>In-Game: Having Sex</div><div class="sp-extra"><a class="sp-addfriend" style="bottom: 5px; right: 2px;" href="steam://friends/add/MissVane" title="Add Friend"></a></div></div></div>
          <h3 class="text-center">About me~</h3>
          <p class="text-center">Hi, i'm Eva, AKA Helvane. I've been doing animations and drawing for about 5 years, and i've been web developing for about 6-7 years. I also do a lot of graphic designs too. You can also follow me on <a class="postlink" href="http://www.twitch.tv/helvane/profile">Twitch</a> or on my <a class="postlink" href="http://helvane.deviantart.com">Deviantart</a>. Here are some stuff down below that i've been making <img src="/images/happy.gif" alt="Happy" title="Happy"></p>
      </div>
      </div>
              This is puddy it took me almost a day to draw <img src="/images/ouch.gif" alt="Ouch" title="Ouch">
              <img style="border: 3px solid #E0D400;" src="/images/puddy_by_helvane-1.png" alt="Puddy by Helvane" title="Puddy by Helvane" width="270px" height="250">
              <br>
              <br>
              My first animation
              <img style="border: 3px solid #99CCFF;" src="/images/Animated-girl-by-Helvane.gif" alt="First animation by Helvane" title="First animation by Helvane" width="270px" height="250">
              <br>
              <br>
              My first two CS:GO maps that i made
              <img style="border: 3px solid #1D526F;" src="/images/Helvane's-CS:GO-map.png" alt="First CS:GO map by Helvane" title="First CS:GO map by Helvane" width="270px" height="152">
              <img style="border: 3px solid #1D526F;" src="/images/Helvane's-CS:GO-map2.png" alt="Second CS:GO map by Helvane" title="Second CS:GO map by Helvane" width="270px" height="152">
  </div>

</div>



