<div class="navmenu">
    <div class="wrap2" style="width: 80%">
        <div class="navlink">
            <ul>
                <li><a href="#/home"><strong>Home</strong></a></li>
                <li><a href="#/Contact"><strong>Contact Me</strong></a></li>
                <li><a href="#/mywork"><strong>My Work</strong></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="main">
    <a href="http://steamcommunity.com/id/MissVane"><div class="hbg"></div></a>
    <div class="container">
    <h1 class="text-center">My Artworks!</h1>
    <br>
    <img style="border: 3px solid deeppink;" src="http://i.imgur.com/Hdb9FBN.png?1" width="540" height="304" alt="Pony in bed by Helvane" title="Pony in bed by Helvane">
    <img style="border: 3px solid #330066;" src="http://i.imgur.com/17ZMEo1.png?1" width="540" height="304" alt="Bunny/carrots by Helvane" title="Bunny/carrots by Helvane">

</div>
</div>